<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>메타버스 광고 정산 결과</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/complete.css') }}">
    </head>

    <body>
        <h2>광고 정산이 완료되었습니다.</h2>
        <video controls width="470">
            <source src="{{video}}" type="video/mp4">
        </video><br><br>

        - 광고 분석 결과 상품이 n명의 이용자에게 노출되었습니다. &nbsp;
        <form action="/result" method="post" style= "display:inline">
            <input type="hidden" name="video" value="{{video}}">
            <input type="submit" value="분석 결과 보기">
        </form><br>

        - n의 리워드가 지급됩니다. &nbsp;
        <button type="button"> 리워드 받기 </button><br><br>

        <button type="button" onclick="location.href='/'"> Home </button>
    </body>

</html>