<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>메타버스 광고 정산</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/loading.css') }}">
    </head>

    <body>
        <div class="container">
            <h2>동영상을 분석하고 있습니다.</h2>
            조금만 기다려 주세요.
        </div>

        <div class="loader"> </div>

        <form action="/complete" method="post" name = "data">
            <input type="hidden" name="video" value="{{video}}">
            <input type="hidden" name="video_path" value="{{video_path}}">
            <input type="hidden" name="video_file_name" value="{{video_file_name}}">
        </form>
        <script language="javascript">
            document.data.submit();
        </script>

    </body>


</html>